.section {
  margin-block: var(--section-margin);
}

.mb {
  margin-bottom: var(--inline-margin);
}

.imgBox, .imgBox a {
  display: grid;
  place-content: center;
  position: relative;
}

.imgBox img {
  border-radius: 1.875rem;
}

.imgBox .name_plate {
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translate(-50%, -50%);
  background-color: #acbd33;
}

